table, th, td { 
    border: 2px solid black; 
 } 
 th {
    text-align: left;
 }
 td{
    text-align: center;
 }

.HeaderContainer{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: lightblue;
}

.HeaderContainer img{
    width: 10%;
}

 /**    Move Styles
 */

 .Normal{
    background-color: bisque;
 }
 .Fighting{
    background-color: bisque;
 }
 .Flying{
    background-color: bisque;
 }
.Poison{
    background-color: bisque;
}	
.Ground{
    background-color: bisque;
}
.Rock{
    background-color: bisque;
}
.Bug{
    background-color: bisque;
}
.Dark{
    background-color: bisque;
}
.Steel{
    background-color: bisque;
}
.Fire{
    background-color: bisque;
}
.Grass{
    background-color: bisque;
}
.Water{
    background-color: bisque;
}
.Electric{
    background-color: bisque;
}
.Psychic{
    background-color: bisque;
}
.Ghost{
    background-color: bisque;
}
.Ice{
    background-color: bisque;
}
.Dragon{
    background-color: bisque;
}
