#navbar {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}