body{
    background-color: lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table{ 
    background-color: white;
    border: 2px solid black; 

} 

th {
    text-align: left;
    background-color: lightgray;
    border: 2px solid black; 
}
td{
    text-align: center;
    background-color: #E0F4FF;
    border: 2px solid black; 
}
li{
    margin-left: 25px;
}
.HeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #E0F4FF;
}

.HeaderContainer img{
    width: 10%;
}

.About{
align-items: center;
align-content: center;
text-align: center;
margin-left: 50%;

}